body {
  font-family: sans-serif;
  margin: 0;
  background: #fafafa;
}

nav {
  padding: 10px;
  background: #fff;
  display: flex;
  gap: 10px;
}

.container {
  padding: 20px;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
}
